torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
opencv-python==4.10.0.82
albumentations==1.4.7
wandb==0.17.0
fastapi==0.111.0
uvicorn==0.29.0
ultralytics==8.2.21
h5py==3.11.0
pyyaml==6.0.1
twilio==9.2.0
tqdm==4.66.4
numpy==1.26.4
scikit-learn==1.4.2
transformers==4.41.2
matplotlib==3.8.4